
<div align="right">
  <p>BODY { FONT-FAMILY: Verdana,Arial,Helvetice,sans-serif; FONT-SIZE: 8pt } 
    TD { FONT-FAMILY: Verdana,Arial,Helvetice,sans-serif; FONT-SIZE: 8pt } SMALL 
    { FONT-FAMILY: Verdana,Arial,Helvetice,sans-serif; FONT-SIZE: 7pt } BIG { 
    FONT-FAMILY: Verdana,Arial,Helvetice,sans-serif; FONT-SIZE: 10pt } H1 { COLOR: 
    #333333; FONT-FAMILY: Verdana,Arial,Helvetice,sans-serif; FONT-SIZE: 10pt 
    } A { COLOR: #6ca7f0; TEXT-DECORATION: underline } A:visited { COLOR: #122a53; 
    TEXT-DECORATION: underline } A:hover { COLOR: #9d190f; TEXT-DECORATION: underline 
    } A.lng { COLOR: #ffffff; TEXT-DECORATION: none } A.lng:hover { COLOR: #ffffff; 
    TEXT-DECORATION: underline } .black { font-family: Verdana, Arial, Helvetica, 
    sans-serif; font-size: 11 px; font-weight: normal; color: #000000; text-decoration: 
    none} input, select, textarea { font-size: 8pt; border-width: 1pt; border-color: 
    #777777} </p>
  </div>
